pydantic==2.12.2
faststream[cli,rabbit]==0.6.1
dishka==1.7.2
dishka-faststream==0.5.0
fastapi==0.119.1
uvicorn==0.37.0
SQLAlchemy[asyncio]==2.0.44
alembic==1.17.0
psycopg[binary]==3.2.10

# Dev dependencies
watchfiles==1.1.1
pytest==8.4.2
pytest-asyncio==1.2.0
Faker==37.11.0
httpx==0.28.1
